
main{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    place-items: center;
}
main h1{
    text-align: center;
    color: white;
    padding: 0.2em;
    margin: auto; /*** Inside flex container, flex item can be centered using margin: auto; ***/
    margin-bottom: 0.1em;
}
main p{
    padding: 0 1rem;
    font-size: 1.6rem;
    color: white;
    text-align: center;
    justify-content: center;
}

main::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: url("../images/unsplash.png") no-repeat;
    background-size: cover;
    z-index: -1;
}
main a{
    font-size: 1.5rem;
    display: block;
    margin: auto;
    margin-top: 0.3em;
    color: white;
    border-radius: 10px;
    background-color: rgb(230, 26, 145);
    padding: 0.3em 2em;
    outline: none;
    text-decoration: none;
    
}
main a:active{
    background-color: rgb(236, 86, 199);
    /* font-size: 1.6rem; */
    color: rgb(146, 7, 100);
}
section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 10px;
    margin: 1rem;
}
.box{
    text-align: center;
    border: 3px solid blueviolet;
    border-radius: 2rem;
    color: rgb(22, 3, 110);
}
.box a{
    color: blueviolet;
}
.date-cont{
    display: grid;
    right: 3%;
    position: absolute;
    color: whitesmoke;
   text-align: center;
}
.date-cont h4{
    color: whitesmoke;
    margin: 0.2em;
    font-size: 1.2rem;
}
#week,#month,#date{
    font-family: 'Courgette', cursive;
    font-weight: lighter;
}

@media only screen 
and (max-device-width : 768px) {

    body{
        /* background-color: rgb(2, 20, 49); */
        /* background-size: contain; */
        display: block;
        
      }
main{
    display: grid;
    position: relative;
    font-size: 1.1rem;
}
.date-cont{
    top: 0;
    right: 0;
    
}
.date-cont h4{
    color: whitesmoke;
    margin: 0.2em;
    font-size: 1rem;
    text-align: right;
}
svg{
    width: 150px;
    height: 80px;
  }

}
